<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>

    <div style="padding: 20px; border: 1px solid #ccc; margin-bottom: 20px;">
        <h1>IDW Helper</h1>

            <form action="/upload_and_process" method="post" enctype="multipart/form-data">
                <label for="file">Selecione um ou vários arquivos ipt ou iam:</label>
                <input type="file" name="file" multiple accept=".ipt, .iam" required>
                <button type="submit">Replace</button>
            </form>

        {% if uploaded_file %}
            <p>Arquivo Selecionado: {{ uploaded_file.filename }}</p>
        {% endif %}

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

    </div>

    <table class="table" id="tabela">
        {{ table_html|safe }}
    </table>

</body>
</html>
