<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>

    <div style="padding: 20px; border: 1px solid #ccc; margin-bottom: 20px;">
        <h1>REPLACE MODEL REFERENCE</h1>

        <form method="post" enctype="multipart/form-data" action="{{ url_for('process_file') }}">
            <div>
                <p>Selecione um ipt ou iam:</p>
                <input type="file" name="file" multiple accept=".ipt, .iam" required>
                <button type="submit">Enviar</button>
            </div>
        </form>

        {% if uploaded_file %}
            <p>Arquivo Selecionado: {{ uploaded_file.filename }}</p>
        {% endif %}

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

    </div>

    {{ table_html|safe }}

</body>
</html>
